.personalinfo-container {
  width: 900px;
}
.person-input {
  padding-block: 15px;
  background-color: #a741490b;
  padding-left: 7px;
  font-size: 16px;
  outline: none;
  border: 1px solid #a7414a;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.required-text {
  color: #a7414a;
  font-size: 10px;
}
.person-div {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.input-wrapper {
  flex: 1;
  margin-right: 10px;
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.checkbox-input {
  margin-right: 20px;
  cursor: pointer;
}
.reserve-bitton {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: none;
  line-height: 24px;
  padding: 0 25px;
  font-size: 16px;
  height: 48px;
  border: none;
  background-color: #a7414a;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "DM Serif Display", serif;
}
.reserve-bitton:hover {
  background-color: #6a8a82;
  box-shadow: unset;
}

@media (max-width: 1000px) {
  .person-div {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: unset;
  }
  .checkbox-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .person-input {
    width: 100%;
  }
  .personalinfo-container {
    width: 100%;
  }
}
