.topic-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 350px;
}
.topic-container {
  display: flex;
  gap: 70px;
}
.topic-heading {
  color: #282726;
  margin-bottom: 20px;
}
.topic-text {
  color: #a7414a;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.topic-icon {
  width: 120px;
  height: 80px;
}
@media (max-width: 1220px) {
  .topic-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
