@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Lobster&display=swap");
.application {
  background-color: #f3e0dc28;
  overflow-x: hidden;
  font-family: "DM Serif Display", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.scroll {
  height: unset;
  overflow: scroll;
  width: unset;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
